@charset "UTF-8";
@font-face {
  font-family: "gelion-light";
  src: url("../assets/fonts/gelion_light/Gelion-Light.woff2") format("woff2"), url("../assets/fonts/gelion_light/Gelion-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gelion-regular";
  src: url("../assets/fonts/gelion_regular/Gelion-Regular.woff2") format("woff2"), url("../assets/fonts/gelion_regular/Gelion-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gelion-medium";
  src: url("../assets/fonts/gelion_medium/Gelion-Medium.woff2") format("woff2"), url("../assets/fonts/gelion_medium/Gelion-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "gelion-bold";
  src: url("../assets/fonts/gelion_bold/Gelion-Bold.woff2") format("woff2"), url("../assets/fonts/gelion_bold/Gelion-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, h6, p, span, ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font: 14px/1.3 "gelion-regular";
  margin: 0;
}

.container_fluids {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1014px;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.banner-generic .banner-generic__img {
  width: 100%;
}

.box-primary {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 1px 4px #5D5D5D70;
}

.breadcrumb-radica .breadcrumb-radica__list {
  list-style-type: none;
  padding: 0;
  margin: 30px 0px;
}
.breadcrumb-radica .breadcrumb-radica__list .breadcrumb-radica__item {
  display: inline-block;
  color: #5D5D5D;
  cursor: pointer;
}
.breadcrumb-radica .breadcrumb-radica__list .breadcrumb-radica__item.active_item {
  color: #008ACC;
  font: 14px/1.3 "gelion-regular";
}

.btns {
  height: 40px;
  text-decoration: none;
  text-align: center;
  max-width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font: 14px/1.3 "gelion-regular";
  transition: all 0.3s;
}
.btns.btns_primary {
  background: #008ACC;
  color: #FFFFFF;
}
.btns.btns_primary:hover {
  background: #112C46;
}

.btns_link {
  font: 18px/1.3 "gelion-medium";
  color: #008ACC;
  text-decoration: none;
}

.file-input {
  margin: 0 auto;
  display: table;
  max-width: 260px;
  width: 100%;
}

.input-file-container {
  position: relative;
  width: 100%;
}
.input-file-container .input-file-container__badge {
  background: #112C46;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js .input-file-trigger {
  display: block;
  padding: 11px 15px;
  background: #FFFFFF;
  color: #5D5D5D;
  border: 1px solid #5D5D5D;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0 0px;
}

.js .file-return {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
  display: grid;
}

.js .file-return:not(:empty):before {
  content: "Archivo cargado: ";
  font-style: normal;
  font-weight: normal;
}

.outlined-input-field {
  position: relative;
  font: 14px/1.3 "gelion-regular";
}
.outlined-input-field i {
  position: absolute;
  top: 0.8rem;
}
.outlined-input-field .error-icon, .outlined-input-field .warning-icon, .outlined-input-field .helper-text {
  display: none;
}
.outlined-input-field label {
  background-color: #FFFFFF;
  color: #5D5D5D;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 11px;
  font: 16px/1.3 "gelion-regular";
}
.outlined-input-field .rad-manual__icon {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 28px;
  pointer-events: none;
  cursor: pointer;
}
.outlined-input-field .rad-manual__icon:before {
  color: #5D5D5D;
}
.outlined-input-field .outlined-text-field {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #00000000;
  border: 1px solid #5D5D5D;
  border-radius: 4px;
  color: #5D5D5D;
  width: 100%;
  padding: 10px 0px 10px 15px;
  outline-offset: 0;
  box-sizing: border-box;
  font: 16px/1.3 "gelion-regular";
}
.outlined-input-field .outlined-text-field.fill_active {
  border: 1px solid #008ACC;
  caret-color: #008ACC;
  color: #112C46;
}
.outlined-input-field .outlined-text-field.fill_active + label, .outlined-input-field .outlined-text-field.fill_active ~ span:before {
  color: #008ACC;
}
.outlined-input-field .outlined-text-field:focus, .outlined-input-field .outlined-select-field:focus {
  border: 1px solid #008ACC;
  caret-color: #008ACC;
  color: #112C46;
  outline: none;
  outline-offset: 0;
}
.outlined-input-field .outlined-text-field:focus + label, .outlined-input-field .outlined-select-field:focus + label {
  color: #008ACC;
}

.outlined-select-field {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1pt solid #757575;
  border-radius: 4px;
  color: #757575;
  margin-left: 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
}
.outlined-select-field ~ .dropdown-icon {
  top: 1rem;
  right: 2.5rem;
}

/* select starting stylings ------------------------------*/
.select {
  font: 14px/1.3 "gelion-regular";
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.select-text {
  position: relative;
  font: 14px/1.3 "gelion-regular";
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #5D5D5D;
  cursor: pointer;
}
.select-text option {
  font: 14px/1.3 "gelion-regular";
}
.select-text.fill_active {
  border: 1px solid #008ACC;
}

/* Remove focus */
.select-text:focus {
  outline: none;
  border: 1px solid #008ACC;
}

/* Use custom arrow */
.select .select-text {
  appearance: none;
  -webkit-appearance: none;
  color: #112C46;
}

.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #112C46;
  pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
  color: #5D5D5D;
  background: white;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding: 0 5px;
  left: 10px;
  transition: 0.2s ease all;
  width: 90%;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
  color: #008ACC;
  top: -8px;
  transition: 0.2s ease all;
  font: 14px/1.3 "gelion-regular";
  width: auto;
}

.select-text:valid:not(focus) ~ .select-label {
  color: #008ACC;
}

.select-text:valid:focus ~ .select-label {
  color: #008ACC;
}

.double_form {
  display: flex;
}
.double_form .select {
  width: auto;
}
.double_form .select .select-label {
  width: 45px;
}
.double_form .select .select-text {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 70px;
}
.double_form .outlined-input-field {
  width: 100%;
}
.double_form .outlined-input-field .outlined-text-field {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 0px;
}
.double_form .outlined-input-field .outlined-text-field:focus, .double_form .outlined-input-field .outlined-text-field.fill_active {
  border-left: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*cols x freespace*/
  grid-gap: 1.5em;
}

.contained {
  max-width: 80%;
  margin: 0 auto;
}

/* Build Bootstrap's Grid */
.col-xs-1 {
  grid-column: span 1;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-sm-1 {
  grid-column: span 1;
}

.col-sm-2 {
  grid-column: span 2;
}

.col-sm-3 {
  grid-column: span 3;
}

.col-sm-4 {
  grid-column: span 4;
}

.col-sm-5 {
  grid-column: span 5;
}

.col-sm-6 {
  grid-column: span 6;
}

.col-sm-7 {
  grid-column: span 7;
}

.col-sm-8 {
  grid-column: span 8;
}

.col-sm-9 {
  grid-column: span 9;
}

.col-sm-10 {
  grid-column: span 10;
}

.col-sm-11 {
  grid-column: span 11;
}

.col-sm-12 {
  grid-column: span 12;
}

.col-md-1 {
  grid-column: span 1;
}

.col-md-2 {
  grid-column: span 2;
}

.col-md-3 {
  grid-column: span 3;
}

.col-md-4 {
  grid-column: span 4;
}

.col-md-5 {
  grid-column: span 5;
}

.col-md-6 {
  grid-column: span 6;
}

.col-md-7 {
  grid-column: span 7;
}

.col-md-8 {
  grid-column: span 8;
}

.col-md-9 {
  grid-column: span 9;
}

.col-md-10 {
  grid-column: span 10;
}

.col-md-11 {
  grid-column: span 11;
}

.col-md-12 {
  grid-column: span 12;
}

.col-lg-1 {
  grid-column: span 1;
}

.col-lg-2 {
  grid-column: span 2;
}

.col-lg-3 {
  grid-column: span 3;
}

.col-lg-4 {
  grid-column: span 4;
}

.col-lg-5 {
  grid-column: span 5;
}

.col-lg-6 {
  grid-column: span 6;
}

.col-lg-7 {
  grid-column: span 7;
}

.col-lg-8 {
  grid-column: span 8;
}

.col-lg-9 {
  grid-column: span 9;
}

.col-lg-10 {
  grid-column: span 10;
}

.col-lg-11 {
  grid-column: span 11;
}

.col-lg-12 {
  grid-column: span 12;
}

.col-xl-1 {
  grid-column: span 1;
}

.col-xl-2 {
  grid-column: span 2;
}

.col-xl-3 {
  grid-column: span 3;
}

.col-xl-4 {
  grid-column: span 4;
}

.col-xl-5 {
  grid-column: span 5;
}

.col-xl-6 {
  grid-column: span 6;
}

.col-xl-7 {
  grid-column: span 7;
}

.col-xl-8 {
  grid-column: span 8;
}

.col-xl-9 {
  grid-column: span 9;
}

.col-xl-10 {
  grid-column: span 10;
}

.col-xl-11 {
  grid-column: span 11;
}

.col-xl-12 {
  grid-column: span 12;
}

/* Bootstrap grid break points */
/* extra small */
@media (max-width: 576px) {
  .col-xs-1 {
    grid-column: span 1;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-12 {
    grid-column: span 12;
  }

  /* helper classes */
  .hidden-xs {
    display: none;
  }

  .container {
    max-width: 1200px;
  }
}
/* small */
@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-1 {
    grid-column: span 1;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  /* helper classes */
  .hidden-sm {
    display: none;
  }
}
/* medium */
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  /* helper classes */
  .hidden-md {
    display: none;
  }
}
/* large */
@media (min-width: 992px) and (max-width: 1200px) {
  .col-lg-1 {
    grid-column: span 1;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  /* helper classes */
  .hidden-lg {
    display: none;
  }
}
/*extra large */
@media (min-width: 1200px) {
  .col-xl-1 {
    grid-column: span 1;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-12 {
    grid-column: span 12;
  }

  /* helper classes */
  .hidden-xl {
    display: none;
  }
}
.hidebottomborder {
  border-bottom: none;
}

.offset-1 {
  grid-column-start: 2;
  grid-column-end: span 11;
}

.push-1 {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.pull-1 {
  grid-column-start: 11;
  grid-column-end: span 1;
}

.offset-2 {
  grid-column-start: 3;
  grid-column-end: span 10;
}

.push-2 {
  grid-column-start: 3;
  grid-column-end: span 2;
}

.pull-2 {
  grid-column-start: 10;
  grid-column-end: span 2;
}

.offset-3 {
  grid-column-start: 4;
  grid-column-end: span 9;
}

.push-3 {
  grid-column-start: 4;
  grid-column-end: span 3;
}

.pull-3 {
  grid-column-start: 9;
  grid-column-end: span 3;
}

.offset-4 {
  grid-column-start: 5;
  grid-column-end: span 8;
}

.push-4 {
  grid-column-start: 5;
  grid-column-end: span 4;
}

.pull-4 {
  grid-column-start: 8;
  grid-column-end: span 4;
}

.offset-5 {
  grid-column-start: 6;
  grid-column-end: span 7;
}

.push-5 {
  grid-column-start: 6;
  grid-column-end: span 5;
}

.pull-5 {
  grid-column-start: 7;
  grid-column-end: span 5;
}

.offset-6 {
  grid-column-start: 7;
  grid-column-end: span 6;
}

.push-6 {
  grid-column-start: 7;
  grid-column-end: span 6;
}

.pull-6 {
  grid-column-start: 6;
  grid-column-end: span 6;
}

.offset-7 {
  grid-column-start: 8;
  grid-column-end: span 5;
}

.push-7 {
  grid-column-start: 8;
  grid-column-end: span 7;
}

.pull-7 {
  grid-column-start: 5;
  grid-column-end: span 7;
}

.offset-8 {
  grid-column-start: 9;
  grid-column-end: span 4;
}

.push-8 {
  grid-column-start: 9;
  grid-column-end: span 8;
}

.pull-8 {
  grid-column-start: 4;
  grid-column-end: span 8;
}

.offset-9 {
  grid-column-start: 10;
  grid-column-end: span 3;
}

.push-9 {
  grid-column-start: 10;
  grid-column-end: span 9;
}

.pull-9 {
  grid-column-start: 3;
  grid-column-end: span 9;
}

.offset-10 {
  grid-column-start: 11;
  grid-column-end: span 2;
}

.push-10 {
  grid-column-start: 11;
  grid-column-end: span 10;
}

.pull-10 {
  grid-column-start: 2;
  grid-column-end: span 10;
}

.offset-11 {
  grid-column-start: 12;
  grid-column-end: span 1;
}

.push-11 {
  grid-column-start: 12;
  grid-column-end: span 11;
}

.pull-11 {
  grid-column-start: 1;
  grid-column-end: span 11;
}

.offset-12 {
  grid-column-start: 13;
  grid-column-end: span 0;
}

.push-12 {
  grid-column-start: 13;
  grid-column-end: span 12;
}

.pull-12 {
  grid-column-start: 0;
  grid-column-end: span 12;
}

.modal-generic {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000d7;
  display: none;
  width: 100%;
  height: 100%;
}
.modal-generic .modals {
  max-width: 440px;
  margin: 6vw auto 0px;
  background: #FFFFFF;
  width: 90%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.modal-generic .modals .content {
  display: table;
  width: 80%;
  margin: 0 auto;
}
.modal-generic .modals .content .modal-generic__title {
  font: 24px/1.3 "gelion-bold";
  color: #112C46;
  margin-bottom: 20px;
}
.modal-generic .modals .content .modal-generic__title.error {
  color: #E24C4C;
}
.modal-generic .modals .content .modal-generic__text {
  font: 18px/1.3 "gelion-regular";
  color: #333333;
  margin-bottom: 20px;
}
.modal-generic .modals .content .modal-generic__link {
  margin-bottom: 10px;
  float: left;
}
.modal-generic .modals .salir {
  align-self: flex-end;
  margin: 10px 10px 0px;
  font-size: 30px;
  cursor: pointer;
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icons/icomoon.eot?ux9m4t");
  src: url("../assets/fonts/icons/icomoon.eot?ux9m4t#iefix") format("embedded-opentype"), url("../assets/fonts/icons/icomoon.ttf?ux9m4t") format("truetype"), url("../assets/fonts/icons/icomoon.woff?ux9m4t") format("woff"), url("../assets/fonts/icons/icomoon.svg?ux9m4t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "";
  color: #008acc;
}

.icon-edit:before {
  content: "";
  color: #008acc;
}

.icon-equis:before {
  content: "";
  color: #008acc;
}

.icon-eye_hide:before {
  content: "";
  color: #5d5d5d;
}

.icon-eye_show:before {
  content: "";
  color: #008acc;
}

.icon-login:before {
  content: "";
  color: #e24c4c;
}

.icon-search:before {
  content: "";
  color: #008acc;
}

.icon-trash:before {
  content: "";
  color: #e24c4c;
}

/* datepicker css */
.ui-datepicker {
  text-align: center;
}

.ui-datepicker-trigger {
  margin: 0 0 0 5px;
  vertical-align: text-top;
}

.ui-datepicker {
  font-family: Open Sans, Arial, sans-serif;
  margin-top: 2px;
  padding: 0 !important;
  border-color: #c9f0f5 !important;
}

.ui-datepicker {
  width: 256px;
}

.openemr-calendar .ui-datepicker {
  width: 191px;
}

.ui-datepicker table {
  width: 256px;
  table-layout: fixed;
}

.openemr-calendar .ui-datepicker table {
  width: 191px;
  table-layout: fixed;
}

.ui-datepicker-header {
  background-color: #008ACC !important;
  background-image: none !important;
  border-radius: 0;
}

.openemr-calendar .ui-datepicker-header {
  background-color: #e6f7f9 !important;
  border-width: 1px;
  border-color: #c9f0f5;
  border-style: solid;
}

.ui-datepicker-title {
  line-height: 35px !important;
  margin: 0 10px !important;
}

.openemr-calendar .ui-datepicker-title {
  line-height: 20px !important;
}

.ui-datepicker-prev span {
  display: none !important;
}

.ui-datepicker-next {
  text-align: center;
}

.ui-datepicker-next span {
  display: none !important;
}

.ui-datepicker-prev {
  background-color: transparent !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==") !important;
  height: 12px !important;
  width: 7px !important;
  margin: 14px 12px;
  display: inline-block;
  left: 0 !important;
  top: 0 !important;
}

.openemr-calendar .ui-datepicker-prev {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAuUlEQVQokXXRsUtCYRAA8J8pDQ1CVIgIgtBU2NDiZIuDS4uLf6WDS1O0tLREEE8icBNKS3lTs8/B78XHw3dwcHA/juOuqjzucYJVrQQMcYctvo4OgEFIeMK6iPphCjzjEWLUC3vACx7yRo5uMUIFr5gii1EL41AvMIkBVPGH04DrSLEsIvjEOZq4wi9+iijDR0ANXOMbmxjlcIY2LtANO6YxymGCDs5wg/ciYv+KBJeY4+2A+Y9j4Y47RtUkrNXeDxUAAAAASUVORK5CYII=") !important;
  height: 14px !important;
  width: 9px !important;
  margin: 5px !important;
}

.ui-datepicker-next {
  cursor: pointer;
}

.ui-datepicker-prev {
  cursor: pointer;
}

.ui-datepicker-next {
  background-color: transparent !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==") !important;
  height: 12px !important;
  width: 8px !important;
  margin: 14px 12px;
  display: inline-block;
  right: 0 !important;
  top: 0 !important;
}

.openemr-calendar .ui-datepicker-next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAtElEQVQYlXXQsUpCcRQH4I97EQyHa1pgIEE0hBGYL+BjNLRFjxXh4rM4F21BS4S4FAgqQioOngt/RM/6+zi/w4EanlA4MDkecYsO3vG/D8a4Rx03eMMqBQt8oodTXAdalwBm+IpNDVxG3aYEMMU3ujjDBT5SAH9R2cE58mwPFOgneJSCGp7RjLoXTEtQjbCFOV7xCxkqdp9sYxnhpFyb4QFXdh8c4Cc9Ko++OwzjFwfn5FiwBVeuI/K2UCkSAAAAAElFTkSuQmCC") !important;
  height: 14px !important;
  width: 8px !important;
  margin: 5px;
}

.ui-datepicker-month {
  border-radius: 2px;
  background-color: #008ACC;
  width: 110px !important;
  height: 22px;
  font: 14px/1.3 "gelion-regular";
  color: #fff;
  text-align: left;
  border: none !important;
  margin-right: 17px !important;
  vertical-align: text-top;
  top: -4px;
  position: relative;
}

.openemr-calendar .ui-datepicker-month {
  font: 14px/1.3 "gelion-regular";
  color: rgba(34, 34, 34, 0.87);
  font-size: 12px !important;
  font-weight: 700;
  text-align: center;
  transform: scaleX(1.0029);
}

.ui-datepicker-year {
  border-radius: 2px;
  background-color: #008ACC;
  width: 61px !important;
  height: 22px;
  border: none !important;
  font: 14px/1.3 "gelion-regular";
  color: #fff;
  font-size: 14px !important;
  text-align: left;
  vertical-align: text-top;
  top: -4px;
  position: relative;
}

.openemr-calendar .ui-datepicker-year {
  font: 14px/1.3 "gelion-regular";
  color: rgba(34, 34, 34, 0.87);
  font-size: 12px !important;
  text-align: center;
  transform: scaleX(1.0029);
}

.ui-datepicker-month option,
.ui-datepicker-year option {
  color: #008ACC !important;
  background-color: #fff !important;
  font: 14px/1.3 "gelion-regular" !important;
}

.ui-datepicker-month option[selected],
.ui-datepicker-year option[selected] {
  background-color: #e5edf0 !important;
}

.ui-datepicker .ui-state-hover {
  /*background: none !important;*/
  border: 0 !important;
}

.ui-datepicker td {
  vertical-align: top;
}

.ui-datepicker .ui-state-default {
  border-radius: 2px;
  border-color: #edebeb !important;
  background: white !important;
  padding: 5px 0px !important;
  line-height: 24px;
  text-align: center !important;
  font: 14px/1.3 "gelion-regular";
  color: #707070;
  margin: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-datepicker .ui-state-default.ui-state-highlight {
  border-color: #dcdcdc;
  background-color: #112C46 !important;
  color: #FFFFFF !important;
}

.openemr-calendar .ui-state-default {
  font-size: 10px;
  margin: 0;
}

.ui-datepicker td {
  width: 33px;
}

.openemr-calendar .ui-datepicker td {
  width: 26px;
}

.openemr-calendar .ui-state-default {
  width: 26px;
  height: 20px;
  line-height: 20px;
}

.ui-state-default.ui-state-hover {
  background-color: #008ACC !important;
  color: #FFFFFF;
}

.ui-datepicker .ui-state-active {
  border-color: #dcdcdc;
  background-color: #112C46 !important;
  color: #FFFFFF !important;
}

.ui-datepicker-calendar thead tr th {
  font: 14px/1.3 "gelion-regular";
  color: #008ACC;
  font-size: 12px;
  padding: 0.45em 0.3em !important;
  /*   width: 15px !important; */
}

.openemr-calendar .ui-datepicker-calendar thead tr th {
  font-size: 10px;
}

.ui-datepicker-close {
  display: none;
}

.ui-datepicker thead {
  background-color: #f5f5f5;
}

.openemr-calendar .ui-datepicker thead {
  background: none;
}

.ui-state-default.ui-datepicker-current {
  float: none !important;
  font: 14px/1.3 "gelion-regular";
  color: #fff;
  text-align: left;
  border-width: 0 !important;
  border: none;
  vertical-align: top;
  margin: 0 !important;
  background-color: transparent !important;
}

.ui-datepicker-buttonpane.ui-widget-content {
  text-align: center;
  background-color: #008ACC;
  margin: 0 !important;
  height: 28px;
  padding: 0 !important;
}

.openemr-calendar .ui-datepicker-year {
  background-color: transparent;
}

.openemr-calendar .ui-datepicker-month {
  background-color: transparent;
}

.openemr-calendar .ui-state-default {
  border: 0 !important;
}

.openemr-calendar .ui-datepicker-month {
  margin-right: 10px !important;
}

.rad-manual {
  margin: 0 auto;
  max-width: 845px;
}
.rad-manual.open {
  display: block;
}

.radica-block {
  margin-bottom: 20px;
}
.radica-block .radica-block__title {
  font: 36px/1.3 "gelion-medium";
  text-align: center;
  color: #008ACC;
  margin: 30px 0px 0px;
}
@media screen and (max-width: 768px) {
  .radica-block .radica-block__title {
    font: 24px/1.3 "gelion-bold";
  }
}
.radica-block .radica-block__subtitle {
  font: 18px/1.3 "gelion-regular";
  text-align: center;
  color: #5D5D5D;
  margin: 30px 0px 0px;
}
.radica-block .radica-block__subtitle.color_blue {
  color: #112C46;
  margin-top: 50px;
  font: 18px/1.3 "gelion-medium";
}
.radica-block .radica-boxes {
  display: flex;
  justify-content: center;
  max-width: 845px;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  .radica-block .radica-boxes {
    margin: 40px auto 0px;
  }
}
.radica-block .radica-boxes .radica-boxes__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 30px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.radica-block .radica-boxes .radica-boxes__item:last-child {
  margin-right: 0px;
  margin-left: 5px;
}
.radica-block .radica-boxes .radica-boxes__item:hover {
  background: #DFE5F9;
}
.radica-block .radica-boxes .radica-boxes__item .radica-boxes__radio {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .radica-block .radica-boxes .radica-boxes__item .radica-boxes__radio {
    margin: 0 10px;
  }
}
.radica-block .radica-boxes .radica-boxes_txt {
  width: 50%;
  margin: 0 20px;
}
@media screen and (max-width: 700px) {
  .radica-block .radica-boxes .radica-boxes_txt {
    margin: 0 10px;
  }
}
.radica-block .radica-boxes .radica-boxes_txt .radica-boxes__title {
  color: #112C46;
  margin-bottom: 10px;
}
.radica-block .radica-boxes .radica-boxes_txt .radica-boxes__text {
  color: #5D5D5D;
  font: 14px/1.3 "gelion-regular";
}
.radica-block .radica-boxes .radica-boxes__img {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .radica-block .radica-boxes .radica-boxes__img {
    width: 50px;
  }
}
@media screen and (max-width: 768px) {
  .radica-block .radica-boxes {
    flex-direction: column;
  }
  .radica-block .radica-boxes .radica-boxes__item {
    margin-bottom: 20px;
  }
  .radica-block .radica-boxes .radica-boxes__item:last-child {
    margin-left: 0px;
  }
}
.radica-block .rad-manual .rad-manual__title {
  color: #112C46;
}
.radica-block .rad-manual .rad-manual__form {
  margin-top: 40px;
}
.radica-block .rad-manual .rad-manual__form .rad-manual__textlabel {
  font: 18px/1.3 "gelion-medium";
  color: #008ACC;
  text-align: center;
  margin: 20px 0px 40px;
}
.radica-block .rad-manual .rad-manual__form .textarea__look {
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px;
}
.radica-block .rad-manual .rad-manual__form .rad-manual__textmin {
  font: 12px/1.3 "gelion-regular";
  color: #112C46;
  font-weight: bold;
}
.radica-block .rad-manual .rad-manual__form .captcha {
  margin: 30px auto;
  display: table;
}
.radica-block .rad-manual .rad-manual__form .send__btn {
  margin: 0 auto 40px;
}
.radica-block .upload-file {
  max-width: 500px;
  margin: 0 auto;
}
.radica-block .upload-file .radica-block__subtitle {
  margin-bottom: 40px;
}
.radica-block .upload-file .captchav3 {
  margin: 30px auto 0px;
  display: table;
}
.radica-block .upload-file .upload-file__btn {
  margin: 30px auto 50px;
}

.modulo-adm .table thead {
  background: #008ACC;
  color: #FFFFFF;
}
.modulo-adm .table thead tr {
  border: 0px;
}
.modulo-adm .table thead tr th {
  border: 0px;
  text-align: center;
  font: 16px/1.3 "gelion-regular";
  vertical-align: middle;
  padding: 15px;
}
.modulo-adm .table tbody tr td {
  text-align: center;
  font: 14px/1.3 "gelion-regular";
  vertical-align: middle;
  padding: 10px;
  color: #5D5D5D;
}
.modulo-adm .table tbody tr td [class*=icon-] {
  font-size: 25px;
  cursor: pointer;
}
.modulo-adm .dataTables_paginate {
  display: flex;
  justify-content: flex-end;
}
.modulo-adm .dataTables_paginate .paginate_button {
  margin: 0 10px;
  cursor: pointer;
}
.modulo-adm #DataTables_Table_0_length, .modulo-adm .dataTables_info {
  display: none;
}

/*# sourceMappingURL=main.css.map */
